*
{

	margin:0;
	padding:0;
}
header{

	height: 127px;
	background-size: cover;
	background-position: center;
}
.Navigation
{
	background-image: url(../images/sara.jpg);
	height: 130px;
}
.logo{
	float:left;
	margin: 2px 2px;
	padding:7px 10px;
	height:90px;
	border-radius: 35%;
	
}
.menu{
	float: left;
	list-style:none;
	margin:20px ;
	padding:20px 30px;
}
.menu li{
	display: inline-block;
	margin:10px 1px;
}
.menu li a{
	text-decoration:none;
	color:white;
	padding:10px 30px;
	font-family: times-newroman;
	font-size: 92%;
	letter-spacing:0.5px;
	text-align:center;
	
}
.menu li a:hover{
	background:#000;
	transition:.4s;
	color: #fff;
	border-radius:6px;
}
.profile{
	margin:-90px 10px;
	padding:1px 5px;
	float:right;

}
.profile:hover{
	background:black;
	color:blue;
	transition:.4s;
}
.search-form{
	margin-top:-75px;
	float:right;
	margin-right:110px;
	margin-left:80px;
	color:black;
}
input[type=text]{
	padding:8px;
	border:none;
	font-size:16px;
	font-family:sans-serif;
}
button{
	float:right;
	background:orange;
	color:white;
	border-radius:0px 5px 5px 0px;
	cursor:pointer;
	position:relative;
	padding:10px;
	font-family:sans-serif;
	border:none;
	font-size:12px;
}
.dropbtn{
	background-color:green;
	color:white;
	margin:40px -35px;
	padding:10px;
	font-size:16px;
	border-radius:6px;
	cursor:pointer;
}
.dropdown{
	position:bottom;
	display:inline-block;
}
.dropdown-content{
	display:none;
	position:absolute;
	background-color:white;
	min-width:160px;
	box-shadow:0px 8px 16px 0px;
	z-index:1;
}
.dropdown-content a{
	color:black;
	padding:12px 16px;
	text-decoration:none;
	display:block;
}
.dropdown-content a:hover{
	background-color:red;
}
.dropdown:hover .dropdown-content{
	display:block;
}
.dropdown:hover .dropbtn{
	background-color:black;
}
section{
	
    
    background-image: linear-gradient(#c0ebff,white);
	background-size: cover;
	height:890px;
	width:100%;
}
footer{
	background-color: mistyrose;
	width:100%;
	height: 190px;
	font-style:Times-newroman;
}

.follow{
	margin:1px 15px;
	font-size:20px;
}
.social-icons{
	margin:20x 40px;
	text-align:left;
}
.social-icons img{
	width:30px;
	margin: 0 12px;
	box-shadow: 0 0 20px 0 #7f7f7f3d;
	cursor:pointer;
	border-radius:45%;
}	
.payment{
	margin:-90px 20px;
	font-size:20px;

}
.pay-icons{
	margin:20x 40px;
	text-align:right;
}
.pay-icons img{
	width:40px;
	margin:95px 10px 5px 10px;
	box-shadow: 0 0 20px 0 #7f7f7f3d;
	cursor: pointer;
	border-radius:45%;
}	

.scr{
	margin-top: 2px;
	margin-bottom:10px;
	text-align: center;
}

.row{
	width: 1349px;
	margin: auto;
    
	overflow: auto;
	cursor: poimter;
}

.column{
	margin: 8px;
	border: 1px blackblue;
	float: left;
	width:250px;
}
.column:hover{
	display: block;
	background: violet;
	
}
.column img{
	width: 100%;
	height: 200px;
	
}

.bttn1{
	color: black;
	background: lime;
}

.bttn2{
	color: black;
	background: red;
}

.bttn1:hover{

	color: #000;
	transition: .4s;
}
.bttn2:hover{
	
	color: #000;
	transition: .4s;
}

.store-icons{
	position:left;
	margin:-10px 30px;
	cursor:pointer;
}
.store-icons img{
	width:120px;
    margin-top:-100px;
}
